@model ReportMeeting.Models.Role

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete <i>@Model.name</i> role ?</h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-dark">< Back</a>
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
