@model IEnumerable<ReportMeeting.Models.Role>

@{
    ViewData["Title"] = "Index";
    var isAdmin = ViewBag.User.roleId == 4;
}

<h3 class="mb-4" style="color:darkblue;">List of all role</h3>

@if (isAdmin)
{
    <a asp-action="Create" class="btn btn-primary mb-4 mt-3">Add new role</a>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @if (isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm"><i class="fas fa-pencil"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
